<nav>
  <div class="site-title">
    <a href="/"><h1>Node.JS</h1></a>
    <h5>Bloggin' about Things & Stuff</h5>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>