<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/header.ejs') %>

  <div class="content">
    <h2>ABOUT ME</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sit animi sequi provident molestiae debitis aspernatur autem numquam, iste alias quo hic blanditiis non fugit nostrum. Voluptatem dolorem doloribus officiis.
    Quod consequuntur facilis accusamus quisquam magni corrupti ullam quas officiis fugit fugiat accusantium blanditiis vero error numquam autem, est, odit inventore sint quis consectetur, quasi libero esse. Repellat, mollitia praesentium?
    Quam laborum blanditiis molestias sit obcaecati doloribus beatae error illo veniam expedita ratione libero doloremque enim, mollitia, aperiam aspernatur, at cum! Minima nobis nihil id aliquam cumque error a laborum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ipsum hic autem sapiente accusantium cupiditate expedita illo doloremque? Reiciendis impedit repellat unde quos maxime libero quod placeat vitae praesentium ipsam?
    Doloribus nisi harum alias! Corrupti, quidem voluptatem sit numquam voluptas at id beatae, sequi dignissimos ullam, vitae iste corporis cumque voluptates suscipit deserunt blanditiis laborum laudantium esse sed! Accusantium, sit.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>